@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(225, 255, 143);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Угадай число */
.guess-the-number {
  margin-top: 60px;
}
.guess-the-number__title {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.guess-the-number__text {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.guess-the-number__input {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.guess-the-number__buttons {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.guess-the-number__button {
  width: 145px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.guess-the-number__button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.guess-the-number__link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.guess-the-number__link:hover {
  text-decoration: underline;
}

#message {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

#attempts {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* Простая арифметика */
.simple-arithmetic {
  margin-top: 60px;
}
.simple-arithmetic__title {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.simple-arithmetic__conteiner {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.simple-arithmetic__input {
  width: 60px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.simple-arithmetic__input::-moz-placeholder {
  color: rgb(130, 130, 130);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.simple-arithmetic__input::placeholder {
  color: rgb(130, 130, 130);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.simple-arithmetic__buttons {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.simple-arithmetic__button {
  width: 145px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.simple-arithmetic__button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.simple-arithmetic__stats {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.simple-arithmetic__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.simple-arithmetic__link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.simple-arithmetic__link:hover {
  text-decoration: underline;
}

#result {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* Переверни текст */
.turn-the-text-over {
  margin-top: 60px;
}
.turn-the-text-over__title {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.turn-the-text-over__text {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.turn-the-text-over__conteiner {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.turn-the-text-over__input {
  width: 300px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  background: rgb(255, 255, 255);
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.turn-the-text-over__input::-moz-placeholder {
  color: rgb(130, 130, 130);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.turn-the-text-over__input::placeholder {
  color: rgb(130, 130, 130);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.turn-the-text-over__result {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.turn-the-text-over__button {
  width: 145px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.turn-the-text-over__button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.turn-the-text-over__link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.turn-the-text-over__link:hover {
  text-decoration: underline;
}

/* Простая викторина */
.simple-quiz {
  margin-top: 60px;
}
.simple-quiz__title {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.simple-quiz__buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.simple-quiz__button {
  width: 145px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.simple-quiz__button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.simple-quiz__link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.simple-quiz__link:hover {
  text-decoration: underline;
}

#quiz-conteiner {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* Камень, ножницы, бумага */
.rock-paper-scissors {
  margin-top: 60px;
}
.rock-paper-scissors__title {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.rock-paper-scissors__start {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rock-paper-scissors__button {
  width: 150px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.rock-paper-scissors__button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.rock-paper-scissors__choices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
.rock-paper-scissors__choice-btn {
  width: 150px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.rock-paper-scissors__choice-btn:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.rock-paper-scissors__result {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.rock-paper-scissors__link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.rock-paper-scissors__link:hover {
  text-decoration: underline;
}

/* Генератор случайных цветов */
.random-color-generator {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random-color-generator__title {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}
.random-color-generator__button {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.random-color-generator__button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.random-color-generator__link {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.random-color-generator__link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=mini-games.css.map */