* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(225, 255, 143);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* Угадай число */

.guess-the-number {
    margin-top: 60px;
    
    &__title {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }

    &__text {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__input {
        margin-bottom: 10px;
        width: 300px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 30px;
        background: rgb(255, 255, 255);
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__buttons {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__button {
        width: 145px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__button:hover {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    &__link {
        margin-top: 10px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

#message {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

#attempts {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

/* Простая арифметика */

.simple-arithmetic {
    margin-top: 60px;

     &__title {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }

    &__conteiner {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__input {
        width: 60px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__input::placeholder {
        color: rgb(130, 130, 130);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__buttons {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__button {
        width: 145px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__button:hover {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    &__stats {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__link {
        margin-top: 10px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

#result {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

/* Переверни текст */

.turn-the-text-over {
    margin-top: 60px;

     &__title {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }

    &__text {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__conteiner {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__input {
        width: 300px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 30px;
        background: rgb(255, 255, 255);
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__input::placeholder {
        color: rgb(130, 130, 130);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__result {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }

    &__button {
        width: 145px;
        height: 30px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__button:hover {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    &__link {
        margin-top: 10px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

.simple-quiz {
    margin-top: 60px;

     &__title {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
    }

    &__buttons {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__button {
        width: 145px;
        height: 50px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 60px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    &__button:hover {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    &__link {
        margin-top: 10px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

#quiz-conteiner {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}